/*! CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ****************************************** */
/*! General */
body{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: white;
  padding-bottom: 100px;
}

.container{
  margin: 0 auto;
}

.main-layout{
  display: flex;
}
/* ****************************************** */

/* ****************************************** */
/*! Main-Navbar */
.main-navbar{
  position: relative;
  flex: 0 0 50px;
  height: calc(100vh - 100px);
  padding: 1rem;
  background-color: black;
}

.center-navbar{
  overflow: auto;
  display: none;
}

.bottom-navbar{
  position: absolute;
  bottom: 0;  
  left: 0;
  padding: 1rem;
}
/* ****************************************** */

/* ****************************************** */
/*! Main */
main{
  background-color: #141922;
}

.main-content{
  padding: 1rem;
  height: calc(100vh - 200px);
  overflow: auto;

  text-align: justify;
}

/** Header */
header{
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  line-height: 100px;
}

/* ****************************************** */

/* ****************************************** */
/*! Footer */
footer{
  display: flex;

  height: 100px;
  background-color: #282828;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.foot.left,
.foot.right{
  width: 30%;
}

.foot.center{
  flex-grow: 1;
}

/* ****************************************** */

/* ****************************************** */
/*! RESPONSIVE */
@media screen and (min-width: 768px) {
  /** Main Navbar */
  .main-navbar{
    flex: 0 0 200px;
  }

  /** Main Navbar */
  .d-block-tablet{
    display: block;
  }

}

/* ****************************************** */
