/*! CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ****************************************** */
/*! General */
body{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: white;
  padding-bottom: 100px;
}

.container{
  margin: 0 auto;
}

.main-layout{
  display: flex;
}

img{
  display: inline-block;
}

a{
  text-decoration: none;
  color: currentColor;
}

/* ****************************************** */

/* ****************************************** */
/*! Main-Navbar */
.main-navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50px;
  height: calc(100vh - 100px);
  background-color: black;
  padding: 10px;
}

/*? Navbar Top */
.small-logo{
  margin-bottom: 10px;
}

.large-logo{
  margin: 15px 0;
  display: none;
}

.navbar-logo .large-logo{
  width: 140px;
}

.navbar-icon{
  display: block;
  padding: 5px 0;
}

.top-navbar img{
  width: 30px;
}

/*? Playlist */
.playlist{
  overflow: auto;
  margin: 20px 0;

  display: none;
}

.add-playlist i{
  margin: 10px 0;
  margin-right: 10px;
  background-color: #afafaf;
  color: black;
  font-size: 20px;
  padding: 10px;
}

.name-playlist li{
  margin: 15px 0;
  font-size: 0.8rem;
}

.name-playlist li:hover{
  text-decoration: underline;
}

/*? Navbar Bottom */
.navbar-download > img{
  height: 15px;
  margin: 20px auto;
}

.navbar-account > img{
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
}
/* ****************************************** */

/* ****************************************** */
/*! Main */
main{
  background-color: #141922;
}

.main-content{
  padding: 1rem;
  height: calc(100vh - 200px);
  overflow: auto;

  text-align: justify;
}

/** Header */
header{
  height: 100px;
  position: sticky;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  line-height: 100px;
}

/* ****************************************** */

/* ****************************************** */
/*! Footer */
footer{
  display: flex;
  align-items: center;

  padding: 10px;
  height: 100px;
  background-color: #282828;

  position: sticky;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.foot.left,
.foot.right{
  width: 30%;
  flex-shrink: 0;

  display: flex;
  align-items: center;
}

.foot.center{
  flex-grow: 1;
}


/** Footer Left */
.left.foot img{
  height: 30px;
}

.left.foot .song-info{
  margin-left: 10px ;
}

.song-author{
  font-size: 1rem;
}

.song-name{
  font-size: 0.8rem;
}

.left.foot .song-interact{
  padding-left: 20px;
}

/** Footer Center */
.center.foot{
  padding: 0 20px;
  align-self: flex-start;
}

/*? Command Top */
.command-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.command-top .fa-play{
  margin: 0 10px;
  padding-left: 3px;
  border: 3px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 25px;
}

/*? Command Bottom */
.command-bottom{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.time-line{
  background-color: #313131;
  height: 7px;
  width: 100%;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.time-line > .current-time-line{
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}

.time-line .current-time-circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid green;
  position: absolute;
  top: -3.5px;
  right: -7.5px;
  display: none;
}

.command-bottom .time-line:hover .current-time-circle{
  display: block;
}

/*? Right Foot */
.right.foot{
  gap: 6%;
  justify-content: flex-end;
}

.foot.right .time-line{
  width: 120px;
  height: 4px;
}



/* ****************************************** */

/* ****************************************** */
/*! RESPONSIVE */
@media screen and (min-width: 768px) {
  /** Main Navbar */
  .main-navbar{
    flex: 0 0 200px;
  }

  /** Main Navbar */
  .d-block-tablet{
    display: block;
  }

  .d-none-tablet{
    display: none;
  }

  .home{
    border-left: 3px solid #ADFF2F;
    margin-left: -10px;
    padding-left: 10px;
  }
}

/* ****************************************** */


/* ****************************************** */
/*! UTILITIES */
.d-flex{
  display: flex;
}

.f-size-l{
  font-size: 1.5rem;
}

.f-size-m{
  font-size: 1.2rem;
}

.f-size-sm{
  font-size: 1rem;
}

.f-size-s{
  font-size: 0.8rem;
}

.f-size-xs{
  font-size: 0.6rem;
}

/* ****************************************** */
