/*! CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ****************************************** */
/*! General */
body{
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
  color: white;
}

.container{
  margin: 0 auto;
}

.main-layout{
  display: flex;
}

img{
  display: inline-block;
  max-width: 100%;
}

a{
  text-decoration: none;
  color: currentColor;
}

ul{
  list-style-type: none;
}

/*! Buttons */
button{
  background-color: transparent;
  padding: 10px 35px;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  font-size: 12px;
  cursor: pointer;
}


/* ****************************************** */

/* ****************************************** */
/*! Main-Navbar */
.main-navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50px;
  background-color: black;
  padding: 10px;
  color: #999;

  height: calc(100vh - 100px);
}

.main-navbar img{
  vertical-align: middle;
}
/*? Navbar Top */
.small-logo{
  margin-bottom: 10px;
}

.large-logo{
  margin: 15px 0;
  display: none;
}

.navbar-logo .large-logo{
  width: 140px;
}

.navbar-icon{
  display: block;
  padding: 5px 0;
}

.navbar-icon span{
  display: none;
}

.top-navbar img{
  width: 30px;
}

/*? Playlist */
.playlist{
  overflow: auto;
  margin: 20px 0;

  display: none;
}

.add-playlist i{
  margin: 10px 0;
  margin-right: 10px;
  background-color: #afafaf;
  color: black;
  font-size: 20px;
  padding: 10px;
}

.name-playlist li{
  margin: 15px 0;
  font-size: 0.8rem;
}

.name-playlist li:hover{
  text-decoration: underline;
}

/*? Navbar Bottom */
.bottom-navbar{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.download{
  display: none;
}

.navbar-download > img{
  height: 15px;
}

.navbar-account{
  margin-top: 15px;
  color: white;
}

.navbar-account > img{
  height: 25px;
  width: 25px;
  background-color: gray;
  border-radius: 50%;
}

.name-profile{
  display: none;
}

/* ****************************************** */

/* ****************************************** */
/*! Main */
main{
  background-color: #141922;
  height: calc(100vh - 100px);
  overflow: auto;
  flex-grow: 1;
}

.main-content{
  padding: 1rem;

  text-align: justify;
}

/** Header */
header{
  height: 80px;
  position: sticky;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.5);
  text-align: right;
  line-height: 80px;
}


/** Navbar choice */
.choice-navbar ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.choice-navbar li{
  font-size: 11px;
  flex-basis: 20vw;
  height: 50px;
  text-align: center;
  color: #dadada;
  position: relative;
}

.current-choice{
  border: 1px solid #ADFF2F;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/** Playlist */
.main-playlist ul{
  flex-wrap: wrap;
  margin: 30px -5px;
}

.main-playlist li{
  flex-basis: 50%;
  padding: 5px;
  text-align: center;
}

.name{
  margin: 10px 0;
  font-size: 15px;
}

.subtitle{
  color: #999;
}

.circle-img{
  border-radius: 50%;
}


/* ****************************************** */

/* ****************************************** */
/*! Footer */
footer{
  display: flex;
  align-items: center;

  padding: 10px;
  height: 100px;
  background-color: #282828;
}

.foot.left,
.foot.right{
  width: 30%;
  flex-shrink: 0;

  display: flex;
  align-items: center;
}

.foot.center{
  flex-grow: 1;
}


/** Footer Left */
.left.foot img{
  height: 30px;
}

.left.foot .song-info{
  margin-left: 10px ;
}

.song-author{
  font-size: 1rem;
}

.song-name{
  font-size: 0.8rem;
}

.left.foot .song-interact{
  padding-left: 20px;
}

/** Footer Center */
.center.foot{
  padding: 0 20px;
  align-self: flex-start;
}

/*? Command Top */
.command-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.command-top .fa-play{
  margin: 0 10px;
  padding-left: 3px;
  border: 3px solid white;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 25px;
}

/*? Command Bottom */
.command-bottom{
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.time-line{
  background-color: #313131;
  height: 7px;
  width: 100%;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}

.time-line > .current-time-line{
  position: relative;
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}

.time-line .current-time-circle{
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  border: 4px solid green;
  position: absolute;
  top: -3.5px;
  right: -7.5px;
  display: none;
}

.command-bottom .time-line:hover .current-time-circle{
  display: block;
}

/*? Right Foot */
.right.foot{
  gap: 6%;
  justify-content: flex-end;
}

.foot.right .time-line{
  width: 120px;
  height: 4px;
}



/* ****************************************** */

/* ****************************************** */
/*! RESPONSIVE */
/*! Tablet */
@media screen and (min-width: 768px) {
  /** Main Navbar */
  .main-navbar{
    flex: 0 0 200px;
  }

  /** Main Navbar */
  .d-block-tablet{
    display: inline-block;
  }

  .d-none-tablet{
    display: none;
  }

  .home{
    border-left: 3px solid #ADFF2F;
    margin-left: -10px;
    padding-left: 10px;
  }


  /** Top Navbar */
  .navbar-icon span{
    display: inline;
  }

  /** Navbar Bottom */
  .bottom-navbar{
    align-items: flex-start;
  }

  
  .bottom-navbar img{
    margin-right: 5px;
  }

  .navbar-download{
    border-bottom: 1px solid white;
    padding-bottom: 5px;
    width: 100%;
  }
  

  /** Main */


}


/*! Laptop  */
@media screen and (min-width: 992px) {
  /** Navbar Choice */
  .choice-navbar li{
    flex-basis: 15vw;
  }

  /** Main playlist */
  .main-playlist li{
    flex-basis: 25%;
  }


}


/*! Desktop */
@media screen and (min-width: 1200px) {
  /** Navbar Choice */
  .choice-navbar li{
    flex-basis: calc(100% / 6);
  }

   /** Main playlist */
   .main-playlist li{
    flex-basis: calc(100% / 6);
  }

}

/* ****************************************** */


/* ****************************************** */
/*! UTILITIES */
.d-flex{
  display: flex;
}

.f-size-l{
  font-size: 1.5rem;
}

.f-size-m{
  font-size: 1.2rem;
}

.f-size-sm{
  font-size: 1rem;
}

.f-size-s{
  font-size: 0.8rem;
}

.f-size-xs{
  font-size: 0.6rem;
}

.m-top-s{
  margin-top: 10px;
}

/* ****************************************** */
